# Cloudera Database project

### Isabel Manzaneque

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

## Create the Database and tables

Create a new folder to store the data and another one for the local user in HDFS.

In [2]:
! mkdir -p myFolder

In [3]:
import os
os.chdir("myFolder")

In [4]:
! pwd

/home/cloudera/myFolder

In [5]:
! hadoop fs -mkdir -p /user/cloudera

Using a text file let's then create a new Database named "projectDB" and execute it using a Hive command.

In [6]:
%%writefile textHive.hql
create database if not exists projectDB 
Comment 'Project Database'
Location '/user/cloudera/projectDB'
With dbproperties ('Author' = 'Isabel', 'Dated' = '28-11-2021');

Writing textHive.hql

In [7]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f textHive.hql

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
 : jdbc:hive2://localhost:10000/default> create database if not exists projectDB
. . . . . . . . . . . . . . . . . . . .> Comment 'Project Database'
. . . . . . . . . . . . . . . . . . . .> Location '/user/cloudera/projectDB'
 'Dated' =. . . . . . . . . . . . . . .> With dbproperties ('Author' = 'Isabel',  '28-11-2021');
INFO  : Compiling command(queryId=hive_20211129120505_dc96eba1-c78c-43e9-969c-7cb246099fa9): create database if not exists projectDB
Comment 'Project Database'
Location '/user/cloudera/projectDB'
With dbproperties ('Author' = 'Isabel', 'Dated' = '28-11-2021')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129120505_dc96eba1-c78c-43e9-969c-7cb246099fa9); Time taken: 0.861 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129120505_dc96eba1-c78c-43e9-969c-7cb246099fa9): create database if not exists projectDB
Comment 'Project Database'
Location '/user/cloudera/projectDB'
With dbproperties ('Author' = 'Isabel', 'Dated' = '28-11-2021')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129120505_dc96eba1-c78c-43e9-969c-7cb246099fa9); Time taken: 3.847 seconds
INFO  : OK
No rows affected (5.436 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

Once the database is created, we need to create two internal tables to store our datasets. Both tables will store the data in a similar structure:

Country_Name, Country_Code, Indicator_Name, Indicator_Code, y1961, ....., y2020

In [8]:
%%writefile textHive.hql
use projectDB;

CREATE TABLE IF NOT EXISTS cultivableLand
(
  Country_Name string,
  Country_Code string,
  Indicator_Name string,
  Indicator_Code string,
  y1960 float, y1961 float, y1962 float, y1963 float, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float, y1969 float,
  y1970 float, y1971 float, y1972 float, y1973 float, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float, y1979 float,
  y1980 float, y1981 float, y1982 float, y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float, y1989 float,
  y1990 float, y1991 float, y1992 float, y1993 float, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float, y1999 float,
  y2000 float, y2001 float, y2002 float, y2003 float, y2004 float, y2005 float, y2006 float, y2007 float, y2008 float, y2009 float, 
  y2010 float, y2011 float, y2012 float, y2013 float, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float, y2019 float,
  y2020 float  
)
COMMENT 'Cultivable Land Table'
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde';

Overwriting textHive.hql

In [9]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f textHive.hql

scan complete in 17ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default> use projectDB;
INFO  : Compiling command(queryId=hive_20211129121515_cbecf3cf-b4f5-42bb-9d27-840992a9acd0): use projectDB
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129121515_cbecf3cf-b4f5-42bb-9d27-840992a9acd0); Time taken: 0.247 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129121515_cbecf3cf-b4f5-42bb-9d27-840992a9acd0): use projectDB
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129121515_cbecf3cf-b4f5-42bb-9d27-840992a9acd0); Time taken: 0.027 seconds
INFO  : OK
No rows affected (0.362 seconds)
0: jdbc:hive2://localhost:10000/default>
nd jdbc:hive2://localhost:10000/default> CREATE TABLE IF NOT EXISTS cultivableLa
. . . . . . . . . . . . . . . . . . . .> (
. . . . . . . . . . . . . . . . . . . .>   Country_Name string,
. . . . . . . . . . . . . . . . . . . .>   Country_Code string,
. . . . . . . . . . . . . . . . . . . .>   Indicator_Name string,
. . . . . . . . . . . . . . . . . . . .>   Indicator_Code string,
y1969 float,t, y1964 float, y . . . . .>   y1960 float, y1961 float, y1962 float 1965 float, y1966 float, y1967 float, y1968 float,
y1979 float,t, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float,
y1989 float,t, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float,
y1999 float,t, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float,
y2009 float, , y2004 float, y2005 float, y2006 float, y2007 float, y2008 float,
y2019 float,t, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float,
. . . . . . . . . . . . . . . . . . . .>   y2020 float
. . . . . . . . . . . . . . . . . . . .> )
. . . . . . . . . . . . . . . . . . . .> COMMENT 'Cultivable Land Table'
e.serde2.OpenCSVSerde'; . . . . . . . .> ROW FORMAT SERDE 'org.apache.hadoop.hiv
INFO  : Compiling command(queryId=hive_20211129121515_27052a3d-f1de-490f-a3eb-2af271025797): CREATE TABLE IF NOT EXISTS cultivableLand
(
Country_Name string,
Country_Code string,
Indicator_Name string,
Indicator_Code string,
y1960 float, y1961 float, y1962 float, y1963 float, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float, y1969 float,
y1970 float, y1971 float, y1972 float, y1973 float, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float, y1979 float,
y1980 float, y1981 float, y1982 float, y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float, y1989 float,
y1990 float, y1991 float, y1992 float, y1993 float, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float, y1999 float,
y2000 float, y2001 float, y2002 float, y2003 float, y2004 float, y2005 float, y2006 float, y2007 float, y2008 float, y2009 float,
y2010 float, y2011 float, y2012 float, y2013 float, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float, y2019 float,
y2020 float
)
COMMENT 'Cultivable Land Table'
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129121515_27052a3d-f1de-490f-a3eb-2af271025797); Time taken: 0.25 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129121515_27052a3d-f1de-490f-a3eb-2af271025797): CREATE TABLE IF NOT EXISTS cultivableLand
(
Country_Name string,
Country_Code string,
Indicator_Name string,
Indicator_Code string,
y1960 float, y1961 float, y1962 float, y1963 float, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float, y1969 float,
y1970 float, y1971 float, y1972 float, y1973 float, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float, y1979 float,
y1980 float, y1981 float, y1982 float, y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float, y1989 float,
y1990 float, y1991 float, y1992 float, y1993 float, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float, y1999 float,
y2000 float, y2001 float, y2002 float, y2003 float, y2004 float, y2005 float, y2006 float, y2007 float, y2008 float, y2009 float,
y2010 float, y2011 float, y2012 float, y2013 float, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float, y2019 float,
y2020 float
)
COMMENT 'Cultivable Land Table'
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129121515_27052a3d-f1de-490f-a3eb-2af271025797); Time taken: 0.456 seconds
INFO  : OK
No rows affected (0.743 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default


Ahora creamos otra tabla "poblacionRural", con la misma estructura que la anterior y los mismos delimitadores. Tambien se utilizara la sentencia ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' para la correcta limpieza de la informacion del dataset

Una vez se ha escrito la estructura de la tabla, se ejecuta con una orden Hive

In [10]:
%%writefile textHive.hql
use projectDB;

CREATE TABLE IF NOT EXISTS ruralPopulation
(
  Country_Name string,
  Country_Code string,
  Indicator_Name string,
  Indicator_Code string,
  y1960 float, y1961 float, y1962 float, y1963 float, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float, y1969 float,
  y1970 float, y1971 float, y1972 float, y1973 float, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float, y1979 float,
  y1980 float, y1981 float, y1982 float, y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float, y1989 float,
  y1990 float, y1991 float, y1992 float, y1993 float, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float, y1999 float,
  y2000 float, y2001 float, y2002 float, y2003 float, y2004 float, y2005 float, y2006 float, y2007 float, y2008 float, y2009 float, 
  y2010 float, y2011 float, y2012 float, y2013 float, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float, y2019 float,
  y2020 float   
)
COMMENT 'Rural Population Table'
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde';

Overwriting textHive.hql

In [11]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f textHive.hql

scan complete in 6ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default> use projectDB;
INFO  : Compiling command(queryId=hive_20211129121717_c36f3d97-5484-4d93-8399-c317905fd627): use projectDB
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129121717_c36f3d97-5484-4d93-8399-c317905fd627); Time taken: 0.295 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129121717_c36f3d97-5484-4d93-8399-c317905fd627): use projectDB
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129121717_c36f3d97-5484-4d93-8399-c317905fd627); Time taken: 0.029 seconds
INFO  : OK
No rows affected (0.47 seconds)
0: jdbc:hive2://localhost:10000/default>
ionjdbc:hive2://localhost:10000/default> CREATE TABLE IF NOT EXISTS ruralPopulat
. . . . . . . . . . . . . . . . . . . .> (
. . . . . . . . . . . . . . . . . . . .>   Country_Name string,
. . . . . . . . . . . . . . . . . . . .>   Country_Code string,
. . . . . . . . . . . . . . . . . . . .>   Indicator_Name string,
. . . . . . . . . . . . . . . . . . . .>   Indicator_Code string,
y1969 float,t, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float,
y1979 float,t, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float,
y1989 float,. . . . . . . . . . . . . .>   y1980 float, y1981 float, y1982 float  y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float,
y1999 float,t, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float,
y2009 float, , y2004 float, y2005 float, y2006 f float, y2001 float, y2002 float loat, y2007 float, y2008 float,
y2019 float,t, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float,
. . . . . . . . . . . . . . . . . . . .>   y2020 float
. . . . . . . . . . . . . . . . . . . .> )
. . . . . . . . . . . . . . . . . . . .> COMMENT 'Rural Population Table'
e.serde2.OpenCSVSerde'; . . . . . . . .> ROW FORMAT SERDE 'org.apache.hadoop.hiv
INFO  : Compiling command(queryId=hive_20211129121717_c29f63f1-667d-4321-b7e0-8261a90f7029): CREATE TABLE IF NOT EXISTS ruralPopulation
(
Country_Name string,
Country_Code string,
Indicator_Name string,
Indicator_Code string,
y1960 float, y1961 float, y1962 float, y1963 float, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float, y1969 float,
y1970 float, y1971 float, y1972 float, y1973 float, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float, y1979 float,
y1980 float, y1981 float, y1982 float, y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float, y1989 float,
y1990 float, y1991 float, y1992 float, y1993 float, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float, y1999 float,
y2000 float, y2001 float, y2002 float, y2003 float, y2004 float, y2005 float, y2006 float, y2007 float, y2008 float, y2009 float,
y2010 float, y2011 float, y2012 float, y2013 float, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float, y2019 float,
y2020 float
)
COMMENT 'Rural Population Table'
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129121717_c29f63f1-667d-4321-b7e0-8261a90f7029); Time taken: 0.042 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129121717_c29f63f1-667d-4321-b7e0-8261a90f7029): CREATE TABLE IF NOT EXISTS ruralPopulation
(
Country_Name string,
Country_Code string,
Indicator_Name string,
Indicator_Code string,
y1960 float, y1961 float, y1962 float, y1963 float, y1964 float, y1965 float, y1966 float, y1967 float, y1968 float, y1969 float,
y1970 float, y1971 float, y1972 float, y1973 float, y1974 float, y1975 float, y1976 float, y1977 float, y1978 float, y1979 float,
y1980 float, y1981 float, y1982 float, y1983 float, y1984 float, y1985 float, y1986 float, y1987 float, y1988 float, y1989 float,
y1990 float, y1991 float, y1992 float, y1993 float, y1994 float, y1995 float, y1996 float, y1997 float, y1998 float, y1999 float,
y2000 float, y2001 float, y2002 float, y2003 float, y2004 float, y2005 float, y2006 float, y2007 float, y2008 float, y2009 float,
y2010 float, y2011 float, y2012 float, y2013 float, y2014 float, y2015 float, y2016 float, y2017 float, y2018 float, y2019 float,
y2020 float
)
COMMENT 'Rural Population Table'
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129121717_c29f63f1-667d-4321-b7e0-8261a90f7029); Time taken: 0.216 seconds
INFO  : OK
No rows affected (0.305 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

We can check if both of these tables habe been properly created by executing the following command line

In [12]:
! beeline -u "jdbc:hive2://localhost:10000/default" -e "use projectDB; show tables;"

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129121818_c53fede9-cfcd-4575-b40b-9b951c20fd71): use projectDB
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129121818_c53fede9-cfcd-4575-b40b-9b951c20fd71); Time taken: 0.208 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129121818_c53fede9-cfcd-4575-b40b-9b951c20fd71): use projectDB
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129121818_c53fede9-cfcd-4575-b40b-9b951c20fd71); Time taken: 0.018 seconds
INFO  : OK
No rows affected (0.316 seconds)
INFO  : Compiling command(queryId=hive_20211129121818_52a2d07f-3910-4ceb-a6af-01ab4bb1d448): show tables
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tab_name, type:string, comment:from deserializer)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129121818_52a2d07f-3910-4ceb-a6af-01ab4bb1d448); Time taken: 0.496 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129121818_52a2d07f-3910-4ceb-a6af-01ab4bb1d448): show tables
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129121818_52a2d07f-3910-4ceb-a6af-01ab4bb1d448); Time taken: 0.098 seconds
INFO  : OK
+------------------+--+
|     tab_name     |
+------------------+--+
| cultivableland   |
| ruralpopulation  |
+------------------+--+
2 rows selected (0.975 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/default

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

## Load the datasets into the tables

Create a new folder and move both datasets into the folder

In [13]:
! hadoop fs -mkdir -p /user/cloudera/datasetFolder

In [14]:
! hadoop fs -put /home/cloudera/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv /user/cloudera/datasetFolder

In [15]:
! hadoop fs -put /home/cloudera/API_SP.RUR.TOTL.ZS_DS2_es_csv_v2_2601419.csv /user/cloudera/datasetFolder

In [16]:
! hadoop fs -ls /user/cloudera/datasetFolder

Found 2 items
-rw-r--r--   1 cloudera cloudera     267352 2021-11-29 12:21 /user/cloudera/datasetFolder/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv
-rw-r--r--   1 cloudera cloudera     159352 2021-11-29 12:22 /user/cloudera/datasetFolder/API_SP.RUR.TOTL.ZS_DS2_es_csv_v2_2601419.csv

Once we check that the datasets are properly stored in the folder, they can be loaded into the tables

In [17]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e \
"LOAD DATA INPATH '/user/cloudera/datasetFolder/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv' INTO TABLE cultivableLand;"

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129122424_afc07ef3-e4db-4486-b040-6c8f4d3e5397): LOAD DATA INPATH '/user/cloudera/datasetFolder/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv' INTO TABLE cultivableLand
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129122424_afc07ef3-e4db-4486-b040-6c8f4d3e5397); Time taken: 0.436 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129122424_afc07ef3-e4db-4486-b040-6c8f4d3e5397): LOAD DATA INPATH '/user/cloudera/datasetFolder/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv' INTO TABLE cultivableLand
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Loading data to table projectdb.cultivableland from hdfs://quickstart.cloudera:8020/user/cloudera/datasetFolder/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv
INFO  : Starting task [Stage-1:STATS] in serial mode
INFO  : Table projectdb.cultivableland stats: [numFiles=1, totalSize=267352]
INFO  : Completed executing command(queryId=hive_20211129122424_afc07ef3-e4db-4486-b040-6c8f4d3e5397); Time taken: 1.482 seconds
INFO  : OK
No rows affected (2.026 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

In [18]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e \
"LOAD DATA INPATH '/user/cloudera/datasetFolder/API_SP.RUR.TOTL.ZS_DS2_es_csv_v2_2601419.csv' INTO TABLE ruralPopulation;"

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129122525_5944da10-0b5a-4cfb-898a-0d01ad589796): LOAD DATA INPATH '/user/cloudera/datasetFolder/API_SP.RUR.TOTL.ZS_DS2_es_csv_v2_2601419.csv' INTO TABLE ruralPopulation
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129122525_5944da10-0b5a-4cfb-898a-0d01ad589796); Time taken: 0.292 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129122525_5944da10-0b5a-4cfb-898a-0d01ad589796): LOAD DATA INPATH '/user/cloudera/datasetFolder/API_SP.RUR.TOTL.ZS_DS2_es_csv_v2_2601419.csv' INTO TABLE ruralPopulation
INFO  : Starting task [Stage-0:MOVE] in serial mode
INFO  : Loading data to table projectdb.ruralpopulation from hdfs://quickstart.cloudera:8020/user/cloudera/datasetFolder/API_SP.RUR.TOTL.ZS_DS2_es_csv_v2_2601419.csv
INFO  : Starting task [Stage-1:STATS] in serial mode
INFO  : Table projectdb.ruralpopulation stats: [numFiles=1, totalSize=159352]
INFO  : Completed executing command(queryId=hive_20211129122525_5944da10-0b5a-4cfb-898a-0d01ad589796); Time taken: 0.775 seconds
INFO  : OK
No rows affected (1.169 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

In order to check that the data has been properly loaded into the tables, we can formulate some queries and see if the correct information is retrieved

In [1]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e "SELECT Country_Name, y1977 FROM cultivableLand;"

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129144040_44775dd0-02ff-4e32-a08f-63f16179435f): SELECT Country_Name, y1977 FROM cultivableLand
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:y1977, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129144040_44775dd0-02ff-4e32-a08f-63f16179435f); Time taken: 2.2 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129144040_44775dd0-02ff-4e32-a08f-63f16179435f): SELECT Country_Name, y1977 FROM cultivableLand
INFO  : Completed executing command(queryId=hive_20211129144040_44775dd0-02ff-4e32-a08f-63f16179435f); Time taken: 0.047 seconds
INFO  : OK
+----------------------------------------------------+--------------------+--+
|                    country_name                    |       y1977        |
+----------------------------------------------------+--------------------+--+
| Aruba                                              | 0.033131232813173  |
|                                                    | 0.353057803560976  |
| Afganistán                                         | 0.600548435104402  |
|                                                    | 0.426088468103926  |
| Angola                                             | 0.384931191558486  |
| Albania                                            | 0.230749705794125  |
| Andorra                                            | 0.030516646830846  |
| El mundo árabe                                     | 0.273303194611246  |
| Emiratos Árabes Unidos                             | 0.016318826350009  |
| Argentina                                          | 0.975192710269458  |
| Armenia                                            |                    |
| Samoa Americana                                    | 0.032431731205812  |
| Antigua y Barbuda                                  | 0.048260995463466  |
| Australia                                          | 1.04587091319053   |
| Austria                                            | 0.202023405118367  |
| Azerbaiyán                                         |                    |
| Burundi                                            | 0.244393098255884  |
| Bélgica                                            | 0.099386004049903  |
| Benin                                              | 0.4164913082924    |
| Burkina Faso                                       | 0.406317740785847  |
| Bangladesh                                         | 0.124292858913122  |
| Bulgaria                                           | 0.447173803634023  |
| Bahrein                                            | 0.006596980561997  |
| Bahamas                                            | 0.035514967021816  |
| Bosnia y Herzegovina                               |                    |
| Belarús                                            |                    |
| Belice                                             | 0.313891524928827  |
| Bermudas                                           | 0.00561797752809   |
| Bolivia                                            | 0.352890344059478  |
| Brasil                                             | 0.349663001397407  |
| Barbados                                           | 0.064274839212473  |
| Brunei Darussalam                                  | 0.022894165994151  |
| Bhután                                             | 0.323080899457224  |
| Botswana                                           | 0.500916890267972  |
| República Centroafricana                           | 0.901998809753744  |
| Canadá                                             | 1.66299675842919   |
| Europa Central y del Báltico                       |                    |
| Suiza                                              | 0.058890264781711  |
| Islas del Canal                                    | 0.03145000235875   |
| Chile                                              | 0.374904660234298  |
| China                                              | 0.103256293834894  |
| Côte d'Ivoire                                      | 0.26755864266362   |
| Camerún                                            | 0.718345356257332  |
| Congo, República Democrática del                   | 0.272587132724407  |
| Congo, República del                               | 0.324081860131671  |
| Colombia                                           | 0.145681161558103  |
| Comoras                                            | 0.235590044327173  |
| Cabo Verde                                         | 0.139023542539375  |
| Costa Rica                                         | 0.128308709849122  |
| Estados pequeos del Caribe                         | 0.1444386681548    |
| Cuba                                               | 0.314218886680291  |
| Curacao                                            |                    |
| Islas Caimán                                       | 0.014442518775274  |
| Chipre                                             | 0.16828920499879   |
| República Checa                                    |                    |
| Alemania                                           | 0.154439978580297  |
| Djibouti                                           | 0.003603967247146  |
| Dominica                                           | 0.095312010674945  |
| Dinamarca                                          | 0.518235624857151  |
| República Dominicana                               | 0.183079192291589  |
| Argelia                                            | 0.392654248881257  |
| Asia oriental y el Pacífico (excluido altos ingresos) | 0.122651943133858  |
| inicial del dividendo demográfico                  | 0.269922787900583  |
| Asia oriental y el Pacífico                        | 0.123895096718431  |
| Europa y Asia central (excluido altos ingresos)    |                    |
| Europa y Asia central                              |                    |
| Ecuador                                            | 0.223464806933856  |
| Egipto, República Árabe de                         | 0.061964430135899  |
| Zona del Euro                                      | 0.234554345757518  |
| Eritrea                                            |                    |
| España                                             | 0.428082684211538  |
| Estonia                                            |                    |
| Etiopía                                            | 0.388060483827736  |
| Unión Europea                                      | 0.283367154320596  |
| Frágiles y situaciones de conflicto afectados      | 0.371103904697369  |
| Finlandia                                          | 0.510371389828277  |
| Fiji                                               | 0.142069433510669  |
| Francia                                            | 0.316976798124555  |
| Islas Feroe                                        | 0.071203094961194  |
| Micronesia (Estados Federados de)                  |                    |
| Gabón                                              | 0.403688500348976  |
| Reino Unido                                        | 0.123163728639608  |
| Georgia                                            |                    |
| Ghana                                              | 0.173152627403539  |
| Gibraltar                                          |                    |
| Guinea                                             | 0.683102460400257  |
| Gambia                                             | 0.294752537906043  |
| Guinea-Bissau                                      | 0.330425588157547  |
| Guinea Ecuatorial                                  | 0.536835150313842  |
| Grecia                                             | 0.308106190066068  |
| Granada                                            | 0.044336558817987  |
| Groenlandia                                        |                    |
| Guatemala                                          | 0.19492669742558   |
| Guam                                               | 0.020517660576341  |
| Guyana                                             | 0.55349779125526   |
| Ingreso alto                                       | 0.408909327777148  |
| Hong Kong, Región Administrativa Especial          | 0.001745314920261  |
| Honduras                                           | 0.448278690358131  |
| Países pobres muy endeudados (PPME)                | 0.412679115791689  |
| Croacia                                            |                    |
+----------------------------------------------------+--------------------+--+
|                    country_name                    |       y1977        |
+----------------------------------------------------+--------------------+--+
| Haití                                              | 0.145430507354156  |
| Hungría                                            | 0.476238282927614  |
| Sólo BIRF                                          | 0.21171445616626   |
| BIRF y la AIF                                      | 0.234371971670941  |
| total de la AIF                                    | 0.338565407469753  |
| mezcla de la AIF                                   | 0.36790330678126   |
| Indonesia                                          | 0.131120736943414  |
| Sólo AIF                                           | 0.324697329423622  |
| Isla de Man                                        | 0.348903562403196  |
| India                                              | 0.248401015506895  |
| No clasificado                                     |                    |
| Irlanda                                            | 0.360428980561818  |
| Irán, República Islámica del                       | 0.430106093315236  |
| Iraq                                               | 0.409242164557237  |
| Islandia                                           | 0.581607671810964  |
| Israel                                             | 0.089952947688901  |
| Italia                                             | 0.167258176336155  |
| Jamaica                                            | 0.069683932903504  |
| Jordania                                           | 0.13490192767513   |
| Japón                                              | 0.043127371083322  |
| Kazajstán                                          |                    |
| Kenya                                              | 0.259582576189023  |
| Kirguistán                                         |                    |
| Camboya                                            | 0.264034034264947  |
| Kiribati                                           | 0.035236702549375  |
| Saint Kitts y Nevis                                | 0.182049881667577  |
| Corea, República de                                | 0.056767319490841  |
| Kuwait                                             | 0.000866871884137  |
| América Latina y el Caribe (excluido altos ingresos) | 0.33970200770476   |
| República Democrática Popular Lao                  | 0.2455483205611    |
| Líbano                                             | 0.087633862646989  |
| Liberia                                            | 0.21924705479108   |
| Libia                                              | 0.608939227865059  |
| Santa Lucía                                        | 0.044371478013933  |
| América Latina y el Caribe                         | 0.338188487717987  |
| Países menos desarrollados: clasificación de las Naciones Unidas | 0.322562529091335  |
| Países de ingreso bajo                             | 0.397401018867419  |
| Liechtenstein                                      | 0.163592491104658  |
| Sri Lanka                                          | 0.066556929469622  |
| Países de ingreso mediano bajo                     | 0.245102888197689  |
| Ingreso mediano y bajo                             | 0.231133424207143  |
| Lesotho                                            | 0.23442708218867   |
| avanzada del dividendo demográfico                 | 0.158191459887436  |
| Lituania                                           |                    |
| Luxemburgo                                         |                    |
| Letonia                                            |                    |
| Región Administrativa Especial de Macao, China     |                    |
| Isla de San Martín (parte francesa)                |                    |
| Marruecos                                          | 0.400105541934364  |
| Mónaco                                             |                    |
| República de Moldova                               |                    |
| Madagascar                                         | 0.305445366976417  |
| Maldivas                                           | 0.020743301642178  |
| Oriente Medio y Norte de África                    | 0.30458947034302   |
| México                                             | 0.282838015287059  |
| Islas Marshall                                     |                    |
|  Ingreso mediano                                   | 0.21992511979538   |
| Macedonia del Norte                                |                    |
| Malí                                               | 0.300196639972754  |
| Malta                                              | 0.042349415252305  |
| Myanmar                                            | 0.298188251894947  |
| Oriente Medio y Norte de África (excluido altos ingresos) | 0.321576569900897  |
| Montenegro                                         |                    |
| Mongolia                                           | 0.704132038839923  |
| Mariana                                            |                    |
| Mozambique                                         | 0.267261806872335  |
| Mauritania                                         | 0.138894892707239  |
| Mauricio                                           | 0.108532970688501  |
| Malawi                                             | 0.349775461642399  |
| Malasia                                            | 0.083480365179492  |
| América del Norte                                  | 0.926194276384491  |
| Namibia                                            | 0.658640119642884  |
| Nueva Caledonia                                    | 0.051470588235294  |
| Níger                                              | 1.77995242533542   |
| Nigeria                                            | 0.306697006124744  |
| Nicaragua                                          | 0.355051783967737  |
| Países Bajos                                       | 0.055931701258319  |
| Noruega                                            | 0.197368176978412  |
| Nepal                                              | 0.158605299840646  |
| Nauru                                              |                    |
| Nueva Zelandia                                     | 0.876866867508493  |
| Miembros OCDE                                      | 0.416096234122326  |
| Omán                                               | 0.023522096452868  |
| Otros Estados pequeos                              | 0.279778596527297  |
| Pakistán                                           | 0.431803707220852  |
| Panamá                                             | 0.236151406787666  |
| Perú                                               | 0.190856092599464  |
| Filipinas                                          | 0.116893614090402  |
| Palau                                              |                    |
| Papua Nueva Guinea                                 | 0.043601535258503  |
| Polonia                                            | 0.424889122071662  |
| previa al dividendo demográfico                    | 0.399732729836766  |
| Puerto Rico                                        | 0.031081137958164  |
| Corea, República Popular Democrática de            | 0.130979138119168  |
| Portugal                                           | 0.257834580820513  |
| Paraguay                                           | 0.432604037864775  |
| Ribera Occidental y Gaza                           |                    |
| Estados pequeos de las Islas del Pacfico           |                    |
| posterior al dividendo demográfico                 | 0.422940835227189  |
| Polinesia Francesa                                 | 0.014296641004196  |
+----------------------------------------------------+--------------------+--+
|                    country_name                    |       y1977        |
+----------------------------------------------------+--------------------+--+
| Qatar                                              | 0.010969783730714  |
| Rumania                                            | 0.449575144364136  |
| Federación de Rusia                                |                    |
| Rwanda                                             | 0.153585545860214  |
| Asia meridional                                    | 0.253973469155894  |
| Arabia Saudita                                     | 0.211996181631993  |
| Sudán                                              |                    |
| Senegal                                            | 0.602913632236194  |
| Singapur                                           | 0.000860104072593  |
| Islas Salomón                                      | 0.052913870649638  |
| Sierra Leona                                       | 0.137202204192836  |
| El Salvador                                        | 0.10948608155307   |
| San Marino                                         | 0.049026817669265  |
| Somalia                                            | 0.201785289623322  |
| Serbia                                             |                    |
| África al sur del Sahara (excluido altos ingresos) | 0.384619116691201  |
| Sudán del Sur                                      |                    |
| África al sur del Sahara                           | 0.384550763891161  |
| Pequeños Estados                                   | 0.226953440565452  |
| Santo Tomé y Príncipe                              | 0.011350480125309  |
| Suriname                                           | 0.100657348405839  |
| República Eslovaca                                 |                    |
| Eslovenia                                          |                    |
| Suecia                                             | 0.362356602525104  |
| Eswatini                                           | 0.279942057630488  |
| Sint Maarten (Dutch part)                          |                    |
| Seychelles                                         | 0.016184896254815  |
| República Árabe Siria                              | 0.630594150448376  |
| Islas Turcas y Caicos                              | 0.139024051160851  |
| Chad                                               | 0.727338186641324  |
| Asia oriental y el Pacífico (BIRF y la AIF)        | 0.122544967684051  |
| Europa y Asia central (BIRF y la AIF)              |                    |
| Togo                                               | 0.714724191905034  |
| Tailandia                                          | 0.355200523678124  |
| Tayikistán                                         |                    |
| Turkmenistán                                       |                    |
| América Latina y el Caribe (BIRF y la AIF)         | 0.342394778563433  |
| Timor-Leste                                        | 0.14520414896655   |
| Oriente Medio y Norte de África (BIRF y la AIF)    | 0.321576569900897  |

266 rows selected (3.611 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

In [2]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e "SELECT Country_Name, Country_Code, y2014 FROM ruralPopulation;"

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129144242_0a7adee3-2da0-487e-9ced-efae0e9be9fb): SELECT Country_Name, Country_Code, y2014 FROM ruralPopulation
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:country_code, type:string, comment:null), FieldSchema(name:y2014, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129144242_0a7adee3-2da0-487e-9ced-efae0e9be9fb); Time taken: 0.488 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129144242_0a7adee3-2da0-487e-9ced-efae0e9be9fb): SELECT Country_Name, Country_Code, y2014 FROM ruralPopulation
INFO  : Completed executing command(queryId=hive_20211129144242_0a7adee3-2da0-487e-9ced-efae0e9be9fb); Time taken: 0.001 seconds
INFO  : OK
+----------------------------------------------------+---------------+-------------------+--+
|                    country_name                    | country_code  |       y2014       |
+----------------------------------------------------+---------------+-------------------+--+
| Aruba                                              | ABW           | 56.959            |
|                                                    | AFE           | 66.0475756414397  |
| Afganistán                                         | AFG           | 75.413            |
|                                                    | AFW           | 55.8428690387667  |
| Angola                                             | AGO           | 37.269            |
| Albania                                            | ALB           | 43.577            |
| Andorra                                            | AND           | 11.559            |
| El mundo árabe                                     | ARB           | 42.3076745267113  |
| Emiratos Árabes Unidos                             | ARE           | 14.625            |
| Argentina                                          | ARG           | 8.623             |
| Armenia                                            | ARM           | 36.888            |
| Samoa Americana                                    | ASM           | 12.712            |
| Antigua y Barbuda                                  | ATG           | 74.825            |
| Australia                                          | AUS           | 14.398            |
| Austria                                            | AUT           | 42.474            |
| Azerbaiyán                                         | AZE           | 45.578            |
| Burundi                                            | BDI           | 88.224            |
| Bélgica                                            | BEL           | 2.167             |
| Benin                                              | BEN           | 54.834            |
| Burkina Faso                                       | BFA           | 73.066            |
| Bangladesh                                         | BGD           | 66.465            |
| Bulgaria                                           | BGR           | 26.349            |
| Bahrein                                            | BHR           | 11.085            |
| Bahamas                                            | BHS           | 17.332            |
| Bosnia y Herzegovina                               | BIH           | 53.16             |
| Belarús                                            | BLR           | 23.307            |
| Belice                                             | BLZ           | 54.665            |
| Bermudas                                           | BMU           | 0                 |
| Bolivia                                            | BOL           | 31.953            |
| Brasil                                             | BRA           | 14.508            |
| Barbados                                           | BRB           | 68.672            |
| Brunei Darussalam                                  | BRN           | 23.668            |
| Bhután                                             | BTN           | 62.082            |
| Botswana                                           | BWA           | 33.632            |
| República Centroafricana                           | CAF           | 60.041            |
| Canadá                                             | CAN           | 18.782            |
| Europa Central y del Báltico                       | CEB           | 37.8863548572262  |
| Suiza                                              | CHE           | 26.304            |
| Islas del Canal                                    | CHI           | 69.005            |
| Chile                                              | CHL           | 12.697            |
| China                                              | CHN           | 45.741            |
| Côte d'Ivoire                                      | CIV           | 50.986            |
| Camerún                                            | CMR           | 46.024            |
| Congo, República Democrática del                   | COD           | 57.82             |
| Congo, República del                               | COG           | 34.915            |
| Colombia                                           | COL           | 20.585            |
| Comoras                                            | COM           | 71.662            |
| Cabo Verde                                         | CPV           | 36.19             |
| Costa Rica                                         | CRI           | 24.059            |
| Estados pequeos del Caribe                         | CSS           | 49.3198950151273  |
| Cuba                                               | CUB           | 23.139            |
| Curacao                                            | CUW           | 10.557            |
| Islas Caimán                                       | CYM           | 0                 |
| Chipre                                             | CYP           | 32.969            |
| República Checa                                    | CZE           | 26.616            |
| Alemania                                           | DEU           | 22.81             |
| Djibouti                                           | DJI           | 22.686            |
| Dominica                                           | DMA           | 30.72             |
| Dinamarca                                          | DNK           | 12.59             |
| República Dominicana                               | DOM           | 22.33             |
| Argelia                                            | DZA           | 29.779            |
| Asia oriental y el Pacífico (excluido altos ingresos) | EAP           | 48.3144383985231  |
| inicial del dividendo demográfico                  | EAR           | 56.469311705087   |
| Asia oriental y el Pacífico                        | EAS           | 44.4475542646946  |
| Europa y Asia central (excluido altos ingresos)    | ECA           | 33.6935302913077  |
| Europa y Asia central                              | ECS           | 28.5344738966475  |
| Ecuador                                            | ECU           | 36.739            |
| Egipto, República Árabe de                         | EGY           | 57.161            |
| Zona del Euro                                      | EMU           | 23.8719005320428  |
| Eritrea                                            | ERI           |                   |
| España                                             | ESP           | 20.634            |
| Estonia                                            | EST           | 31.731            |
| Etiopía                                            | ETH           | 81.002            |
| Unión Europea                                      | EUU           | 26.2821514217514  |
| Frágiles y situaciones de conflicto afectados      | FCS           | 57.2052986350187  |
| Finlandia                                          | FIN           | 14.825            |
| Fiji                                               | FJI           | 45.784            |
| Francia                                            | FRA           | 20.606            |
| Islas Feroe                                        | FRO           | 58.499            |
| Micronesia (Estados Federados de)                  | FSM           | 77.601            |
| Gabón                                              | GAB           | 12.349            |
| Reino Unido                                        | GBR           | 17.635            |
| Georgia                                            | GEO           | 42.933            |
| Ghana                                              | GHA           | 46.581            |
| Gibraltar                                          | GIB           | 0                 |
| Guinea                                             | GIN           | 65.164            |
| Gambia                                             | GMB           | 41.472            |
| Guinea-Bissau                                      | GNB           | 58.285            |
| Guinea Ecuatorial                                  | GNQ           | 29.917            |
| Grecia                                             | GRC           | 22.298            |
| Granada                                            | GRD           | 64.062            |
| Groenlandia                                        | GRL           | 14.187            |
| Guatemala                                          | GTM           | 50.366            |
| Guam                                               | GUM           | 5.551             |
| Guyana                                             | GUY           | 73.586            |
| Ingreso alto                                       | HIC           | 19.3229337619119  |
| Hong Kong, Región Administrativa Especial          | HKG           | 0                 |
| Honduras                                           | HND           | 45.486            |
| Países pobres muy endeudados (PPME)                | HPC           | 65.7986996348794  |
| Croacia                                            | HRV           | 44.077            |
+----------------------------------------------------+---------------+-------------------+--+
|                    country_name                    | country_code  |       y2014       |
+----------------------------------------------------+---------------+-------------------+--+
| Haití                                              | HTI           | 48.556            |
| Hungría                                            | HUN           | 29.773            |
| Sólo BIRF                                          | IBD           | 47.4590549883504  |
| BIRF y la AIF                                      | IBT           | 51.7353944510893  |
| total de la AIF                                    | IDA           | 64.9364705278593  |
| mezcla de la AIF                                   | IDB           | 59.6232578394625  |
| Indonesia                                          | IDN           | 47.365            |
| Sólo AIF                                           | IDX           | 67.6246165392866  |
| Isla de Man                                        | IMN           | 47.838            |
| India                                              | IND           | 67.616            |
| No clasificado                                     | INX           |                   |
| Irlanda                                            | IRL           | 37.66             |
| Irán, República Islámica del                       | IRN           | 27.17             |
| Iraq                                               | IRQ           | 30.242            |
| Islandia                                           | ISL           | 6.333             |
| Israel                                             | ISR           | 7.896             |
| Italia                                             | ITA           | 30.728            |
| Jamaica                                            | JAM           | 45.416            |
| Jordania                                           | JOR           | 10                |
| Japón                                              | JPN           | 8.696             |
| Kazajstán                                          | KAZ           | 42.882            |
| Kenya                                              | KEN           | 74.779            |
| Kirguistán                                         | KGZ           | 64.365            |
| Camboya                                            | KHM           | 78.201            |
| Kiribati                                           | KIR           | 49.227            |
| Saint Kitts y Nevis                                | KNA           | 69.115            |
| Corea, República de                                | KOR           | 18.293            |
| Kuwait                                             | KWT           | 0                 |
| América Latina y el Caribe (excluido altos ingresos) | LAC           | 20.6807304836107  |
| República Democrática Popular Lao                  | LAO           | 67.513            |
| Líbano                                             | LBN           | 12.053            |
| Liberia                                            | LBR           | 50.603            |
| Libia                                              | LBY           | 20.991            |
| Santa Lucía                                        | LCA           | 81.518            |
| América Latina y el Caribe                         | LCN           | 20.3699396315124  |
| Países menos desarrollados: clasificación de las Naciones Unidas | LDC           | 68.5112872342641  |
| Países de ingreso bajo                             | LIC           | 68.9055545409797  |
| Liechtenstein                                      | LIE           | 85.687            |
| Sri Lanka                                          | LKA           | 81.782            |
| Países de ingreso mediano bajo                     | LMC           | 60.4203865165749  |
| Ingreso mediano y bajo                             | LMY           | 51.8329546703189  |
| Lesotho                                            | LSO           | 73.498            |
| avanzada del dividendo demográfico                 | LTE           | 41.0627981478912  |
| Lituania                                           | LTU           | 32.892            |
| Luxemburgo                                         | LUX           | 10.116            |
| Letonia                                            | LVA           | 32.048            |
| Región Administrativa Especial de Macao, China     | MAC           | 0                 |
| Isla de San Martín (parte francesa)                | MAF           |                   |
| Marruecos                                          | MAR           | 39.744            |
| Mónaco                                             | MCO           | 0                 |
| República de Moldova                               | MDA           | 57.504            |
| Madagascar                                         | MDG           | 65.466            |
| Maldivas                                           | MDV           | 61.894            |
| Oriente Medio y Norte de África                    | MEA           | 35.9999544753327  |
| México                                             | MEX           | 21.007            |
| Islas Marshall                                     | MHL           | 24.616            |
|  Ingreso mediano                                   | MIC           | 50.0664397517837  |
| Macedonia del Norte                                | MKD           | 42.716            |
| Malí                                               | MLI           | 60.804            |
| Malta                                              | MLT           | 5.65300000000001  |
| Myanmar                                            | MMR           | 70.35             |
| Oriente Medio y Norte de África (excluido altos ingresos) | MNA           | 39.758422477587   |
| Montenegro                                         | MNE           | 34.529            |
| Mongolia                                           | MNG           | 31.837            |
| Mariana                                            | MNP           | 8.727             |
| Mozambique                                         | MOZ           | 66.122            |
| Mauritania                                         | MRT           | 49.797            |
| Mauricio                                           | MUS           | 58.889            |
| Malawi                                             | MWI           | 83.868            |
| Malasia                                            | MYS           | 26.423            |
| América del Norte                                  | NAC           | 18.540128049178   |

| Namibia                                            | NAM           | 54.174            |
| Nueva Caledonia                                    | NCL           | 31.069            |
| Níger                                              | NER           | 83.781            |
| Nigeria                                            | NGA           | 53.018            |
| Nicaragua                                          | NIC           | 42.3              |
| Países Bajos                                       | NLD           | 10.31             |
| Noruega                                            | NOR           | 19.308            |
| Nepal                                              | NPL           | 81.818            |
| Nauru                                              | NRU           | 0                 |
| Nueva Zelandia                                     | NZL           | 13.719            |
| Miembros OCDE                                      | OED           | 20.2071513831427  |
| Omán                                               | OMN           | 19.855            |
| Otros Estados pequeos                              | OSS           | 39.9452298992901  |
| Pakistán                                           | PAK           | 64.181            |
| Panamá                                             | PAN           | 33.629            |
| Perú                                               | PER           | 22.827            |
| Filipinas                                          | PHL           | 53.907            |
| Palau                                              | PLW           | 22.483            |
| Papua Nueva Guinea                                 | PNG           | 87.012            |
| Polonia                                            | POL           | 39.597            |
| previa al dividendo demográfico                    | PRE           | 60.9502551017195  |
| Puerto Rico                                        | PRI           | 6.349             |
| Corea, República Popular Democrática de            | PRK           | 38.902            |
| Portugal                                           | PRT           | 37.064            |
| Paraguay                                           | PRY           | 39.526            |
| Ribera Occidental y Gaza                           | PSE           | 24.887            |
| Estados pequeos de las Islas del Pacfico           | PSS           | 62.2392035361287  |
| posterior al dividendo demográfico                 | PST           | 19.4269256306614  |
| Polinesia Francesa                                 | PYF           | 38.367            |
+----------------------------------------------------+---------------+-------------------+--+
|                    country_name                    | country_code  |       y2014       |
+----------------------------------------------------+---------------+-------------------+--+
| Qatar                                              | QAT           | 1.13200000000001  |
| Rumania                                            | ROU           | 46.1              |
| Federación de Rusia                                | RUS           | 26.05             |
| Rwanda                                             | RWA           | 83.033            |
| Asia meridional                                    | SAS           | 67.6631520691106  |
| Arabia Saudita                                     | SAU           | 17.04             |
| Sudán                                              | SDN           | 66.311            |
| Senegal                                            | SEN           | 54.564            |
| Singapur                                           | SGP           | 0                 |
| Islas Salomón                                      | SLB           | 78.104            |
| Sierra Leona                                       | SLE           | 59.568            |
| El Salvador                                        | SLV           | 31.126            |
| San Marino                                         | SMR           | 3.441             |
| Somalia                                            | SOM           | 57.321            |
| Serbia                                             | SRB           | 44.417            |
| África al sur del Sahara (excluido altos ingresos) | SSA           | 61.9325360207849  |
| Sudán del Sur                                      | SSD           | 81.374            |
| África al sur del Sahara                           | SSF           | 61.9309424461734  |
| Pequeños Estados                                   | SST           | 43.0895885036565  |
| Santo Tomé y Príncipe                              | STP           | 30.787            |
| Suriname                                           | SUR           | 33.911            |
| República Eslovaca                                 | SVK           | 46                |
| Eslovenia                                          | SVN           | 46.443            |
| Suecia                                             | SWE           | 13.753            |
| Eswatini                                           | SWZ           | 76.851            |
| Sint Maarten (Dutch part)                          | SXM           | 0                 |
| Seychelles                                         | SYC           | 45.031            |
| República Árabe Siria                              | SYR           | 48.5              |
| Islas Turcas y Caicos                              | TCA           | 8.149             |
| Chad                                               | TCD           | 77.628            |
| Asia oriental y el Pacífico (BIRF y la AIF)        | TEA           | 48.4329711124977  |
| Europa y Asia central (BIRF y la AIF)              | TEC           | 34.2926544361279  |
| Togo                                               | TGO           | 60.421            |
| Tailandia                                          | THA           | 53.057            |
| Tayikistán                                         | TJK           | 73.345            |
| Turkmenistán                                       | TKM           | 50.079            |
| América Latina y el Caribe (BIRF y la AIF)         | TLA           | 20.3807839548991  |
| Timor-Leste                                        | TLS           | 70.867            |
| Oriente Medio y Norte de África (BIRF y la AIF)    | TMN           | 39.9340151611582  |
| Tonga                                              | TON           | 76.672            |
| Asia meridional (BIRF y la AIF)                    | TSA           | 67.6631520691106  |
| África al sur del Sahara (BIRF y la AIF)           | TSS           | 61.9309424461734  |
| Trinidad y Tobago                                  | TTO           | 46.587            |
| Túnez                                              | TUN           | 32.228            |
| Turquía                                            | TUR           | 26.923            |
| Tuvalu                                             | TUV           | 41.214            |
| Tanzanía                                           | TZA           | 69.096            |
| Uganda                                             | UGA           | 78.496            |
| Ucrania                                            | UKR           | 31.032            |
| Ingreso mediano alto                               | UMC           | 37.1125737772275  |
| Uruguay                                            | URY           | 5.05500000000001  |
| Estados Unidos                                     | USA           | 18.517            |
| Uzbekistán                                         | UZB           | 49.15             |
| San Vicente y las Granadinas                       | VCT           | 49.442            |
| Venezuela                                          | VEN           | 11.856            |
| Islas Vírgenes Británicas                          | VGB           | 53.784            |
| Islas Vírgenes (EE.UU.)                            | VIR           | 4.78700000000001  |
| Viet Nam                                           | VNM           | 66.885            |
| Vanuatu                                            | VUT           | 75.139            |
| Mundo                                              | WLD           | 46.5417135083224  |
| Samoa                                              | WSM           | 80.851            |
| Kosovo                                             | XKX           |                   |
| Yemen, Rep. del                                    | YEM           | 65.835            |
| Sudáfrica                                          | ZAF           | 35.688            |
| Zambia                                             | ZMB           | 58.618            |
| Zimbabwe                                           | ZWE           | 67.496            |
+----------------------------------------------------+---------------+-------------------+--+
266 rows selected (0.971 seconds)

Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

## Create a view on the tables

We'll create a view on the tables containing, for each country, it's name, code, rural population on 2018 and cultivable land on 2018.

In [4]:
%%writefile textHive.hql
use projectDB;

CREATE OR REPLACE VIEW tablesView AS 
SELECT  cultivableLand.Country_Name, 
        cultivableLand.Country_Code,
        cultivableLand.y2018 as cultivableLand2018,
        ruralPopulation.y2018 as ruralPopulation2018        
         
FROM cultivableLand JOIN ruralPopulation ON (cultivableLand.Country_Code = ruralPopulation.Country_Code);

Overwriting textHive.hql

In [5]:
! beeline -u "jdbc:hive2://localhost:10000/default" -f textHive.hql

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default> use projectDB;
INFO  : Compiling command(queryId=hive_20211129144949_dbaf0cdc-83b4-436e-886e-b9d23dda47cc): use projectDB
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129144949_dbaf0cdc-83b4-436e-886e-b9d23dda47cc); Time taken: 0.318 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129144949_dbaf0cdc-83b4-436e-886e-b9d23dda47cc): use projectDB
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129144949_dbaf0cdc-83b4-436e-886e-b9d23dda47cc); Time taken: 0.057 seconds
INFO  : OK
No rows affected (0.506 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> CREATE OR REPLACE VIEW tablesView AS
. . . . . . . . . . . . . . . . . . . .> SELECT  cultivableLand.Country_Name,
. . . . . . . . . . . . . . . . . . . .>         cultivableLand.Country_Code,
bleLand2018,. . . . . . . . . . . . . .>         cultivableLand.y2018 as cultiva
opulation2018         . . . . . . . . .>         ruralPopulation.y2018 as ruralP
. . . . . . . . . . . . . . . . . . . .>
n ON (c . . . . . . . . . . . . . . . .> FROM cultivableLand JOIN ruralPopulatio ultivableLand.Country_Code = ruralPopulation.Country_Code);
INFO  : Compiling command(queryId=hive_20211129144949_db22e125-71da-4a66-a0f3-ebf579515689): CREATE OR REPLACE VIEW tablesView AS
SELECT  cultivableLand.Country_Name,
cultivableLand.Country_Code,
cultivableLand.y2018 as cultivableLand2018,
ruralPopulation.y2018 as ruralPopulation2018
FROM cultivableLand JOIN ruralPopulation ON (cultivableLand.Country_Code = ruralPopulation.Country_Code)
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:country_code, type:string, comment:null), FieldSchema(name:cultivableland2018, type:string, comment:null), FieldSchema(name:ruralpopulation2018, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129144949_db22e125-71da-4a66-a0f3-ebf579515689); Time taken: 0.438 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129144949_db22e125-71da-4a66-a0f3-ebf579515689): CREATE OR REPLACE VIEW tablesView AS
SELECT  cultivableLand.Country_Name,
cultivableLand.Country_Code,
cultivableLand.y2018 as cultivableLand2018,
ruralPopulation.y2018 as ruralPopulation2018
FROM cultivableLand JOIN ruralPopulation ON (cultivableLand.Country_Code = ruralPopulation.Country_Code)
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129144949_db22e125-71da-4a66-a0f3-ebf579515689); Time taken: 0.405 seconds
INFO  : OK
No rows affected (0.88 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

Double check that the view has been created and that it contains the correct data

In [6]:
! beeline -u "jdbc:hive2://localhost:10000/default" -e "use projectDB; show tables;"

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129145050_c24710a2-8ad6-493a-98ac-dbff3ed99098): use projectDB
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20211129145050_c24710a2-8ad6-493a-98ac-dbff3ed99098); Time taken: 0.227 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129145050_c24710a2-8ad6-493a-98ac-dbff3ed99098): use projectDB
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129145050_c24710a2-8ad6-493a-98ac-dbff3ed99098); Time taken: 0.018 seconds
INFO  : OK
No rows affected (0.326 seconds)
INFO  : Compiling command(queryId=hive_20211129145050_73d352bf-b59a-4b0d-bb94-48b99ea6d598): show tables
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tab_name, type:string, comment:from deserializer)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129145050_73d352bf-b59a-4b0d-bb94-48b99ea6d598); Time taken: 0.011 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129145050_73d352bf-b59a-4b0d-bb94-48b99ea6d598): show tables
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20211129145050_73d352bf-b59a-4b0d-bb94-48b99ea6d598); Time taken: 0.098 seconds
INFO  : OK
+------------------+--+
|     tab_name     |
+------------------+--+
| cultivableland   |
| ruralpopulation  |
| tablesview       |
+------------------+--+
3 rows selected (0.219 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/default

In [7]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e "select Country_Code, cultivableLand2018 from tablesView SORT BY Country_Code ASC LIMIT 5;"

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129145252_017309ca-caa2-4c6d-b9ff-834779b0f884): select Country_Code, cultivableLand2018 from tablesView SORT BY Country_Code ASC LIMIT 5
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_code, type:string, comment:null), FieldSchema(name:cultivableland2018, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129145252_017309ca-caa2-4c6d-b9ff-834779b0f884); Time taken: 0.851 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129145252_017309ca-caa2-4c6d-b9ff-834779b0f884): select Country_Code, cultivableLand2018 from tablesView SORT BY Country_Code ASC LIMIT 5
INFO  : Query ID = hive_20211129145252_017309ca-caa2-4c6d-b9ff-834779b0f884
INFO  : Total jobs = 2
INFO  : Starting task [Stage-6:MAPREDLOCAL] in serial mode
Execution log at: /var/log/hive/hive-server2.log
2021-11-29 02:52:49	Starting to launch local task to process map join;	maximum memory = 932184064
2021-11-29 02:52:53	Dump the side-table for tag: 1 with group count: 266 into file: file:/tmp/hive/90436f27-a481-4976-8e3d-e46463f54f03/hive_2021-11-29_14-52-40_202_2694791057215536791-5/-local-10005/HashTable-Stage-2/MapJoin-mapfile01--.hashtable
2021-11-29 02:52:53	Uploaded 1 File to: file:/tmp/hive/90436f27-a481-4976-8e3d-e46463f54f03/hive_2021-11-29_14-52-40_202_2694791057215536791-5/-local-10005/HashTable-Stage-2/MapJoin-mapfile01--.hashtable (5874 bytes)
2021-11-29 02:52:53	End of local task; Time Taken: 4.775 sec.
INFO  : Execution completed successfully
INFO  : MapredLocal task succeeded
INFO  : Launching Job 1 out of 2
INFO  : Starting task [Stage-2:MAPRED] in serial mode
INFO  : Number of reduce tasks not specified. Estimated from input data size: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1638225439316_0001, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1638225439316_0001/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1638225439316_0001
INFO  : Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
INFO  : 2021-11-29 14:53:19,780 Stage-2 map = 0%,  reduce = 0%
INFO  : 2021-11-29 14:53:37,577 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 5.2 sec
INFO  : 2021-11-29 14:53:49,672 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 7.77 sec
INFO  : MapReduce Total cumulative CPU time: 7 seconds 770 msec
INFO  : Ended Job = job_1638225439316_0001
INFO  : Launching Job 2 out of 2
INFO  : Starting task [Stage-3:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1638225439316_0002, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1638225439316_0002/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1638225439316_0002
INFO  : Hadoop job information for Stage-3: number of mappers: 1; number of reducers: 1
INFO  : 2021-11-29 14:54:02,790 Stage-3 map = 0%,  reduce = 0%
INFO  : 2021-11-29 14:54:11,753 Stage-3 map = 100%,  reduce = 0%, Cumulative CPU 3.24 sec
INFO  : 2021-11-29 14:54:21,655 Stage-3 map = 100%,  reduce = 100%, Cumulative CPU 6.02 sec
INFO  : MapReduce Total cumulative CPU time: 6 seconds 20 msec
INFO  : Ended Job = job_1638225439316_0002
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 7.77 sec   HDFS Read: 280896 HDFS Write: 291 SUCCESS
INFO  : Stage-Stage-3: Map: 1  Reduce: 1   Cumulative CPU: 6.02 sec   HDFS Read: 5231 HDFS Write: 110 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 13 seconds 790 msec
INFO  : Completed executing command(queryId=hive_20211129145252_017309ca-caa2-4c6d-b9ff-834779b0f884); Time taken: 101.789 seconds
INFO  : OK
+---------------+---------------------+--+
| country_code  | cultivableland2018  |
+---------------+---------------------+--+
| ABW           | 0.018895376301419   |
| AFE           | 0.184952194880822   |
| AFG           | 0.207226303767666   |
| AFW           | 0.233279287732645   |
| AGO           | 0.159040372463464   |
+---------------+---------------------+--+
5 rows selected (102.857 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

## Series of queries

### Query 1: cultivable land in Suiza in 2018

In [8]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e "SELECT Country_Name, cultivableLand2018 FROM tablesView WHERE Country_Name = 'Suiza';"

scan complete in 4ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129145757_92763c73-d2ba-4d5d-be56-8f977ecd60be): SELECT Country_Name, cultivableLand2018 FROM tablesView WHERE Country_Name = 'Suiza'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:cultivableland2018, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129145757_92763c73-d2ba-4d5d-be56-8f977ecd60be); Time taken: 1.178 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129145757_92763c73-d2ba-4d5d-be56-8f977ecd60be): SELECT Country_Name, cultivableLand2018 FROM tablesView WHERE Country_Name = 'Suiza'
INFO  : Query ID = hive_20211129145757_92763c73-d2ba-4d5d-be56-8f977ecd60be
INFO  : Total jobs = 1
INFO  : Starting task [Stage-4:MAPREDLOCAL] in serial mode
Execution log at: /var/log/hive/hive-server2.log
2021-11-29 02:58:05	Starting to launch local task to process map join;	maximum memory = 932184064
2021-11-29 02:58:07	Dump the side-table for tag: 1 with group count: 266 into file: file:/tmp/hive/449a1c4b-96ad-4620-a069-13664a537e1e/hive_2021-11-29_14-57-59_563_5878340261108504303-5/-local-10003/HashTable-Stage-3/MapJoin-mapfile11--.hashtable
2021-11-29 02:58:07	Uploaded 1 File to: file:/tmp/hive/449a1c4b-96ad-4620-a069-13664a537e1e/hive_2021-11-29_14-57-59_563_5878340261108504303-5/-local-10003/HashTable-Stage-3/MapJoin-mapfile11--.hashtable (5874 bytes)
2021-11-29 02:58:07	End of local task; Time Taken: 1.794 sec.
INFO  : Execution completed successfully
INFO  : MapredLocal task succeeded
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-3:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1638225439316_0003, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1638225439316_0003/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1638225439316_0003
INFO  : Hadoop job information for Stage-3: number of mappers: 1; number of reducers: 0
INFO  : 2021-11-29 14:58:17,372 Stage-3 map = 0%,  reduce = 0%
INFO  : 2021-11-29 14:58:29,359 Stage-3 map = 100%,  reduce = 0%, Cumulative CPU 4.52 sec
INFO  : MapReduce Total cumulative CPU time: 4 seconds 520 msec
INFO  : Ended Job = job_1638225439316_0003
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-3: Map: 1   Cumulative CPU: 4.52 sec   HDFS Read: 277269 HDFS Write: 24 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 4 seconds 520 msec
INFO  : Completed executing command(queryId=hive_20211129145757_92763c73-d2ba-4d5d-be56-8f977ecd60be); Time taken: 29.763 seconds
INFO  : OK
+---------------+---------------------+--+
| country_name  | cultivableland2018  |
+---------------+---------------------+--+
| Suiza         | 0.046761042473224   |
+---------------+---------------------+--+
1 row selected (31.129 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

### Query 2: cultivable land of the country with the least rural population in 2010

In [10]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e "SELECT cultivableLand.Country_Name, cultivableLand.y2010, ruralPopulation.y2010 FROM cultivableLand JOIN ruralPopulation ON (cultivableLand.Country_Code = ruralPopulation.Country_Code) WHERE ruralPopulation.y2010 IS NOT NULL ORDER BY CAST (ruralPopulation.y2010 AS FLOAT) ASC LIMIT 20;"

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129150303_40e141a9-bd92-403b-b9e1-1483e34d64f7): SELECT cultivableLand.Country_Name, cultivableLand.y2010, ruralPopulation.y2010 FROM cultivableLand JOIN ruralPopulation ON (cultivableLand.Country_Code = ruralPopulation.Country_Code) WHERE ruralPopulation.y2010 IS NOT NULL ORDER BY CAST (ruralPopulation.y2010 AS FLOAT) ASC LIMIT 20
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:cultivableland.country_name, type:string, comment:null), FieldSchema(name:cultivableland.y2010, type:string, comment:null), FieldSchema(name:ruralpopulation.y2010, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129150303_40e141a9-bd92-403b-b9e1-1483e34d64f7); Time taken: 0.575 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129150303_40e141a9-bd92-403b-b9e1-1483e34d64f7): SELECT cultivableLand.Country_Name, cultivableLand.y2010, ruralPopulation.y2010 FROM cultivableLand JOIN ruralPopulation ON (cultivableLand.Country_Code = ruralPopulation.Country_Code) WHERE ruralPopulation.y2010 IS NOT NULL ORDER BY CAST (ruralPopulation.y2010 AS FLOAT) ASC LIMIT 20
INFO  : Query ID = hive_20211129150303_40e141a9-bd92-403b-b9e1-1483e34d64f7
INFO  : Total jobs = 1
INFO  : Starting task [Stage-5:MAPREDLOCAL] in serial mode
Execution log at: /var/log/hive/hive-server2.log
2021-11-29 03:03:47	Starting to launch local task to process map join;	maximum memory = 932184064
2021-11-29 03:03:48	Dump the side-table for tag: 1 with group count: 266 into file: file:/tmp/hive/5050eeb3-dd7a-4b72-b429-ab5fcb7e7685/hive_2021-11-29_15-03-42_062_6099780346050726449-5/-local-10004/HashTable-Stage-2/MapJoin-mapfile21--.hashtable
2021-11-29 03:03:48	Uploaded 1 File to: file:/tmp/hive/5050eeb3-dd7a-4b72-b429-ab5fcb7e7685/hive_2021-11-29_15-03-42_062_6099780346050726449-5/-local-10004/HashTable-Stage-2/MapJoin-mapfile21--.hashtable (8424 bytes)
2021-11-29 03:03:48	End of local task; Time Taken: 1.756 sec.
INFO  : Execution completed successfully
INFO  : MapredLocal task succeeded
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-2:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1638225439316_0004, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1638225439316_0004/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1638225439316_0004
INFO  : Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
INFO  : 2021-11-29 15:03:58,020 Stage-2 map = 0%,  reduce = 0%
INFO  : 2021-11-29 15:04:09,290 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 3.44 sec
INFO  : 2021-11-29 15:04:20,239 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 6.24 sec
INFO  : MapReduce Total cumulative CPU time: 6 seconds 240 msec
INFO  : Ended Job = job_1638225439316_0004
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 6.24 sec   HDFS Read: 283003 HDFS Write: 634 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 6 seconds 240 msec
INFO  : Completed executing command(queryId=hive_20211129150303_40e141a9-bd92-403b-b9e1-1483e34d64f7); Time taken: 38.827 seconds
INFO  : OK
+-------------------------------------------------+-----------------------+------------------------+--+
|           cultivableland.country_name           | cultivableland.y2010  | ruralpopulation.y2010  |
+-------------------------------------------------+-----------------------+------------------------+--+
| Kosovo                                          |                       |                        |
| Isla de San Martín (parte francesa)             |                       |                        |
| No clasificado                                  |                       |                        |
| Islas Caimán                                    | 0.003529079616036     | 0                      |
| Sint Maarten (Dutch part)                       |                       | 0                      |
| Kuwait                                          | 0.003342375573385     | 0                      |
| Gibraltar                                       |                       | 0                      |
| Hong Kong, Región Administrativa Especial       | 0.000498277383901     | 0                      |
| Nauru                                           |                       | 0                      |
| Singapur                                        | 0.000126065350702     | 0                      |
| Bermudas                                        | 0.004606596646398     | 0                      |
| Región Administrativa Especial de Macao, China  |                       | 0                      |
| Mónaco                                          |                       | 0                      |
| Qatar                                           | 0.007396318217299     | 1.499                  |
| Bélgica                                         | 0.076544758583889     | 2.349                  |
| San Marino                                      | 0.032029723583486     | 4.26000000000001       |
| Islas Vírgenes (EE.UU.)                         | 0.009228753103168     | 5.40600000000001       |
| Uruguay                                         | 0.605190468294777     | 5.586                  |
| Guam                                            | 0.006271991169036     | 5.901                  |
| Malta                                           | 0.021905487951982     | 5.928                  |
+-------------------------------------------------+-----------------------+------------------------+--+
20 rows selected (39.619 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

The result shows a list of 20 countries in ascending order as per their rural population in 2010. As there are several countries with a rural population of 0% over the total, the cultivable land of the country with the least rural population in 2010 is actually a set consisting of the following:


Singapur     : 0.000126065350702%

Kuwait       : 0.003342375573385%

Bermudas     : 0.004606596646398%  

Hong Kong, Región Administrativa Especial : 0.000498277383901%

Islas Caimán : 0.003529079616036%

### Query 3: The 5 countries with the largest rural population in 2018

In [11]:
! beeline -u "jdbc:hive2://localhost:10000/projectDB" -e "SELECT Country_Name, ruralPopulation2018 FROM tablesView ORDER BY CAST ( ruralPopulation2018 AS FLOAT) DESC LIMIT 5;"

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/projectDB
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20211129151515_36817d3d-3fe1-415d-bbed-49a590bf036d): SELECT Country_Name, ruralPopulation2018 FROM tablesView ORDER BY CAST ( ruralPopulation2018 AS FLOAT) DESC LIMIT 5
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_name, type:string, comment:null), FieldSchema(name:ruralpopulation2018, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20211129151515_36817d3d-3fe1-415d-bbed-49a590bf036d); Time taken: 0.694 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20211129151515_36817d3d-3fe1-415d-bbed-49a590bf036d): SELECT Country_Name, ruralPopulation2018 FROM tablesView ORDER BY CAST ( ruralPopulation2018 AS FLOAT) DESC LIMIT 5
INFO  : Query ID = hive_20211129151515_36817d3d-3fe1-415d-bbed-49a590bf036d
INFO  : Total jobs = 1
INFO  : Starting task [Stage-5:MAPREDLOCAL] in serial mode
Execution log at: /var/log/hive/hive-server2.log
2021-11-29 03:15:16	Starting to launch local task to process map join;	maximum memory = 932184064
2021-11-29 03:15:18	Dump the side-table for tag: 1 with group count: 266 into file: file:/tmp/hive/4078ff99-9a7d-417a-b627-b09bf9e3e3e7/hive_2021-11-29_15-15-11_011_5250391471472436506-5/-local-10004/HashTable-Stage-2/MapJoin-mapfile31--.hashtable
2021-11-29 03:15:18	Uploaded 1 File to: file:/tmp/hive/4078ff99-9a7d-417a-b627-b09bf9e3e3e7/hive_2021-11-29_15-15-11_011_5250391471472436506-5/-local-10004/HashTable-Stage-2/MapJoin-mapfile31--.hashtable (8444 bytes)
2021-11-29 03:15:18	End of local task; Time Taken: 1.813 sec.
INFO  : Execution completed successfully
INFO  : MapredLocal task succeeded
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-2:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1638225439316_0005, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1638225439316_0005/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1638225439316_0005
INFO  : Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
INFO  : 2021-11-29 15:15:29,399 Stage-2 map = 0%,  reduce = 0%
INFO  : 2021-11-29 15:15:41,352 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 3.48 sec
INFO  : 2021-11-29 15:15:51,181 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 6.24 sec
INFO  : MapReduce Total cumulative CPU time: 6 seconds 240 msec
INFO  : Ended Job = job_1638225439316_0005
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 6.24 sec   HDFS Read: 282470 HDFS Write: 92 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 6 seconds 240 msec
INFO  : Completed executing command(queryId=hive_20211129151515_36817d3d-3fe1-415d-bbed-49a590bf036d); Time taken: 40.71 seconds
INFO  : OK
+---------------------+----------------------+--+
|    country_name     | ruralpopulation2018  |
+---------------------+----------------------+--+
| Burundi             | 86.968               |
| Papua Nueva Guinea  | 86.831               |
| Liechtenstein       | 85.662               |
| Níger               | 83.575               |
| Malawi              | 83.063               |
+---------------------+----------------------+--+
5 rows selected (41.674 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/projectDB

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

## MapReduce python function

The following function should retrieve the same data as Query 1 in Step 4: cultivable land in Suiza in 2018. 
After it's written and executed using a pipeline, we can see how the results match

In [12]:
%%writefile myMapReduce.py
#!/usr/bin/env python

import sys


for line in sys.stdin:

    data = line.strip().split(",")

    if len(data) == 65:

        Country_Name,Country_Code,Indicator_Name,Indicator_Code,y1960,y1961,y1962,y1963,y1964,y1965,y1966,y1967,y1968,y1969,\
        y1970,y1971,y1972,y1973,y1974,y1975,y1976,y1977,y1978,y1979,y1980,y1981,y1982,y1983,y1984,y1985,y1986,y1987,y1988,y1989,\
        y1990,y1991,y1992,y1993,y1994,y1995,y1996,y1997,y1998,y1999,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,y2009,\
        y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,y2020 = data

        if Country_Name == "Suiza" and Indicator_Code =="AG.LND.ARBL.HA.PC":
            print("{0}, {1}".format(Country_Name,y2018))

Writing myMapReduce.py

In [13]:
! cat /home/cloudera/API_AG.LND.ARBL.HA.PC_DS2_es_csv_v2_2593504.csv | python myMapReduce.py > Suiza18

In [14]:
! tail Suiza18

Suiza, 0.046761042473224